@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tiro Bangla";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fresca";
}

/* html {
  font-size: 100%;
} 16px */

small {
  font-size: 0.75rem; /* 12px */
}

:root {
  --row-header: 80px;
  --row-footer: 150px;
  --row-main: 1fr;
}

/* @layer components { */
.rootBody {
  display: grid;
  grid-template-rows: var(--row-header) var(--row-main) var(--row-footer);
}

.rootMain {
  display: grid;
  grid-template-rows: calc(100vh - var(--row-header)) minmax(100vh, auto) minmax(
      70vh,
      auto
    );
}

.TextShadow {
  text-shadow: 0 0 6px;
}

.dark .d-TextShadow {
  text-shadow: 0 0 6px;
}

.mask {
  -webkit-mask-image: url("./assets/pentagon.svg");
  mask-image: url("./assets/pentagon.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;
}

.brushmask {
  --url: url("https://static.vecteezy.com/system/resources/previews/008/477/243/non_2x/black-brush-stroke-cut-out-free-png.png");
  --url2: url("./assets/brush2.png");
  --pos: -120px -150px;
  --pos2: top;
  -webkit-mask-image: var(--url2);
  mask-image: var(--url2);
  mask-position: -20px -100px;
  mask-repeat: no-repeat;
  mask-size: 120%;
}
